<div class="container">
  <div class="col-md-offset-3 col-md-6">
    <h1>Add an Event</h1>
    <%= bootstrap_form_for(@event) do |f| %>
    <%= f.text_field :title ,placeholder: "Please avoid Generic titles like 'Tango Class'"%>
    <%= f.text_field :eventTime,label: "Event Time", placeholder: "Ex: 9:00-10:00 pm Beginner Class"%>
    <%= f.text_field :cost%>
    <%= f.text_field :category ,placeholder: "Ex: 'Milongo / Dance Party or Class/Practica'"%>
    <%= f.text_field :date, class: "datePick" , placeholder: "Can select multiple dates"%>
    <%= f.text_field :address %>
    <%= f.text_field :city %>

    <%= f.select :area, [["San Francisco", "sanfrancisco"], ["East Bay", "eastbay"],["North Bay", "northbay"],["South Bay", "southbay"],["Peninsula", "eastbay"],["Other", "other"]], { label: "Choose your area!!Click to find out your county" }, { class: "selectpicker col-md-8" } %>

      <%= f.text_field :zipcode %>
    <%= f.text_area :description, rows: "10" ,placeholder: "Please be specific and succint Max limit 100 words"%>
      <button type="button" id="preview" class="btn btn-primary" data-toggle="modal" data-target="#mapModal">Preview</button>
      <%= f.submit "Update Event" %>
      <% end %>
    </div>
  </div>